
 
 
 
 
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600&display=swap'); 
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"); 
 
 
 
*{ 
    list-style:none; 
    margin:0; 
    padding:0; 
    text-decoration: none; 
} 
:root{ 
--font-primary: "Baloo Da 2", serif; 
--font-secundary:"Josefin Slab", serif; 
--font-action:"Mulish"; 
} 
 
 
.hamburguer{ 
width: 2rem; 
height: 2rem; 
position: fixed; 
z-index:100; 
right: 2rem; 
top: 2rem; 
display:flex; 
flex-direction: column; 
justify-content: space-evenly; 
cursor: pointer; 
transition: all 1s; 
} 
 
 
 .show-menu .hamburguer{ 
  right: 18rem;   
} 
.hamburguer span{ 
    position:absolute; 
    left: 3rem; 
    height: 2rem;    
    width: 6rem; 
    display:flex; 
    justify-content: center;  
    align-items: center; 
    background-color: #4169E1 ; 
    color:#ffffff; 
    font-family: var(--font-action); 
    opacity:0; 
} 
.hamburguer span::before{ 
    content: " "; 
    position: absolute; 
    border-right: .5rem solid #196c92 ; 
    border-left: .5rem solid transparent; 
    border-bottom: .5rem solid transparent; 
    border-top: .5rem solid transparent; 
    left: -1rem ; 
} 
 
.show-menu .hamburguer:hover span{ 
    opacity:1; 
 
} 
.line{ 
    width: 100%; 
    height: .1rem; 
    background-color: #ffffff; 
    box-shadow: 0.1rem 0.1rem 1px #000; 
    transition: 1s; 
} 
 
 
header{ 
    width: 100%; 
height: 100vh; 
overflow: hidden; 
position: relative; 
} 
 
 
.img-wrapper{ 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color:rgba(0,0,0,1) 
     
} 
 
 
.img-wrapper img{ 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 0.5; 
    animation: zoom 25s; 
} 
@keyframes zoom{ 
        0%{ 
            transform: scale(1.3); 
        } 
        100%{ 
            transform: scale(1) 
        } 
 } 
 
.banner{ 
    position: absolute; 
    top:30%; 
    left:15%; 
 
} 
 
.banner h1{ 
    color: #ffffff; 
    font-size: 3.5rem; 
    font-weight: 200; 
    text-shadow: .3rem .4rem 2px rgba(0,0,0,4); 
    line-height: 1.5rem; 
    margin-bottom: 2rem; 
    animation: MoveBanner 1s 0.9s forwards; 
    opacity:0; 
    font-family: var(--font-primary); 
} 
 
.banner p{ 
    font-family: var(--font-secundary); 
    font-size: 2rem; 
    color: #ffffff; 
    text-shadow: .2rem .2rem rgba(0,0,0,4); 
    margin-top: 3rem; 
    margin-bottom: 2rem; 
    animation: MoveBanner 1s 0.7s forwards; 
    opacity: 0; 
} 
 
.banner button{ 
    font-family: var(--font-action); 
 
letter-spacing: 0.1rem;; 
color: #ffffff; 
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 1rem; 
padding-bottom: 1rem; 
padding-left: 4rem; 
padding-right: 4rem; 
border:none; 
border-radius: 5px; 
cursor: pointer; 
animation: MoveBanner 1s 0.9s forwards; 
opacity: 0; 
transition: color 1s; 
text-transform: uppercase; 
} 
 
.banner button:hover{ 
    color:#00BFFF;

} 
 
@keyframes MoveBanner{ 
0%{ 
    transform: translateY(10rem) rotateY(-30deg); 
     
} 
100%{ 
    transform: translateY(0) rotateY(0); 
    opacity:1; 
} 
 
} 
 
.sidebar{ 
    width: 20rem; 
    height: 100vh;  
    position: fixed; 
    top: 0; 
    right:-20rem; 
    transition: all 1s; 
     background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 
 
.show-menu .sidebar{ 
    right:0; 
     
} 
 
 
.menu{ 
    margin-top: 5rem;
    top:40%; 
    left:50%; 
    transform: translate(-50%, -50%); 
     
} 
.menu-item{ 
 
    text-align: center; 
    margin: 35px;  
   

     
} 
 
.menu-link{ 
    font-family: var(--font-action);    
    font-size:2rem; 
    margin-top: 10px;
    transition: color 0.5s;  
  align-items: center;
} 
 
.menu-link:hover{ 
    color:white; 
} 
 

 
.social-media i{  
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #ffffff; 
height: 2.5rem; 
width: 2.5rem; 
font-size:1.5rem; 
display:flex; 
justify-content:center; 
align-items: center; 
border-radius: 50%; 
transition: background-color 1s; 
} 
 
 
.social-media i:hover{ 
    background-color: #00BFFF; 
    transition: background-color 1s; 
} 
 
 
.sessao-header{ 
align-items: center; 
display: flex; 
justify-content: center; 
} 
 
.sessao-header h1{ 
font-family: var(--font-primary); 
font-size: 3rem; 
color:#e7e7e7; 
border-bottom: solid 3px #00BFFF; 
margin-bottom: 1.5rem; 
} 
 
.sessao-conhecimentos{ 
    background-color: #ECE8E8; 
} 
 
 
.conhecimentos{ 
display: grid; 
grid-template-columns: repeat(16, 1fr); 
grid-template-rows: repeat(6, 7rem); 
row-gap: .5rem; 
 
 
} 
 
 
.conhecimento:nth-child(1){ 
    grid-column: 4 / 7; 
    grid-row: 1 / 3 ; 
} 
.conhecimento:nth-child(2){ 
    grid-column: 3 / 6; 
    grid-row: 3 / 5; 
} 
.conhecimento:nth-child(3){ 
    grid-column: 4 / 7; 
    grid-row: 5 / -1; 
}    
.conhecimento:nth-child(4){ 
    grid-column: 11 / 14; 
    grid-row: 1 / 3; 
} 
.conhecimento:nth-child(5){ 
    grid-column: 12 / 15; 
    grid-row: 3 / 5 ; 
} 
.conhecimento:nth-child(6){ 
    grid-column: 11 / 14; 
    grid-row: 5 / -1; 
} 
 
.conhecimento-header{ 
display:flex; 
align-items: center; 
color: #4B4B4B; 
} 
 
.conhecimento-header i{ 
font-size:2.5rem 
 
} 
 
.conhecimento-header h3{ 
font-family: var(--font-secundary); 
font-size: 2rem; 
padding-left: .5rem; 
} 
 
.conhecimento-text{ 
   font-family: var(--font-secundary); 
margin-top: 1rem; 
font-weight: 500; 
} 
 
.conhecimentos-img-wrapper{ 
grid-column: 7 / 11; 
grid-row: 2 / 6; 
width: 100%; 
} 
 
.conhecimentos-img-wrapper img{ 
object-fit: cover; 
width: 100%; 
 
 
}





@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");



*{
    list-style:none;
    margin:0;
    padding:0;
    text-decoration: none;
}
:root{
--font-primary: "Baloo Da 2", serif;
--font-secundary:"Josefin Slab", serif;
--font-action:"Mulish";
}


.hamburguer{
width: 2rem;
height: 2rem;
position: fixed;
z-index:100;
right: 2rem;
top: 2rem;
display:flex;
flex-direction: column;
justify-content: space-evenly;
cursor: pointer;
}


 


.line{
    width: 100%;
    height: .1rem;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: 1s;
}


header{
    width: 100%;
height: 100vh;
overflow: hidden;
position: relative;
}


.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:rgba(0,0,0,1)
    
}


.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom{
        0%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1)
        }
 }

.banner{
    position: absolute;
    top:30%;
    left:15%;

}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,4);
    line-height: 1.5rem;
    margin-bottom: 2rem;
    animation: MoveBanner 1s 0.9s forwards;
    opacity:0;
}

.banner p{
    font-family: var(--font-secundary);
    font-size: 2rem;
    color: #ffffff;
    text-shadow: .2rem .2rem rgba(0,0,0,4);
    margin-top: 3rem;
    margin-bottom: 2rem;
    animation: MoveBanner 1s 0.7s forwards;
    opacity: 0;
}





@keyframes MoveBanner{
0%{
    transform: translateY(10rem) rotateY(-30deg);
    
}
100%{
    transform: translateY(0) rotateY(0);
    opacity:1;
}

}

.sidebar{
    width: 20rem;
    height: 100vh; 
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right:-20rem;
    transition: all 1s;
    
}

.show-menu .sidebar{
    right:0;
    
}


.menu{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
.menu-item{
    text-align: center;
    margin-top: 35px;
    
    
    
   
    
}

.menu-link{
    font-family: var(--font-action);   
    font-size:2rem;
    color:white;
transition: color 1s;
}

.menu-link:hover{
    color:#00BFFF;
}

.social-media{
 position:absolute;
 bottom: 2rem;   
 width:100%;
 display:flex;
 justify-content: space-evenly;
}



.social-media i:hover{
    background-color: #00BFFF;
    transition: background-color 1s;
}

.show-menu #line1{
    transform: translate(.3rem, .45rem) rotate(45deg);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: translate(.3rem, -.45rem) rotate(-45deg);
}

